<div id="page-content">
  <h2 class="text-center mt-20 text-blue-600 font-extrabold text-4xl mb-20"><%= @article.title %></h2>

  <div class="container m-auto">
			<div class="flex justify-center">
				<div class="block rounded-lg mb-5 shadow-lg bg-slate-100 max-w-xl text-center w-1/2 border-t-4">
					<div class="text-lg text-blue-400 font-bold py-3 px-6 border-b border-gray-300 bg-slate-200">
						<div class="mb-4">
							by <%= @article.user.username if @article.user%>
						</div>
						<%= link_to gravatar_for(@article.user), user_path(@article.user) %>
						<% if @article.categories.any? %>
								<div class="mt-2">
									<%= render @article.categories %>
								</div>
						<% end %>
					</div>
            <div class="card-text text-left pt-10 pb-10"><%= simple_format(@article.description) %></div>
						<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
							<%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
							<%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
						<% end %>
					<div class="py-3 px-6 border-t border-gray-300 text-gray-500">
							Created <%= time_ago_in_words(@article.created_at) %> ago, 
							edited <%= time_ago_in_words(@article.updated_at) %> ago
					</div>
				</div>
			</div>
  </div>
</div>