<h1 class="text-blue-700 font-bold text-3xl text-center mb-20 mt-20 tracking-wide">Alpha Bloggers</h1>

<div class="pagination">
  <%= will_paginate @users, :container => false %>
</div>

<div class="container m-auto">
  <% @users.each do |user| %>
		<div class="flex justify-center">
		<div class="block rounded-lg mb-5 shadow-lg bg-slate-100 max-w-xl text-center w-1/2 border-t-4">
			<div class="text-lg text-blue-400 font-bold py-3 px-6 border-b border-gray-300 bg-slate-200">
				<%= link_to user.username, user %>
			</div>
			<div class="p-6">
				<h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user %></h5>
				<p class="card-text mt-2 text-blue-500 font-bold"><%= pluralize(user.articles.count, "article") %></p>
				<div class="mt-2">
						<%= link_to "View profile", user, class: "border-2 border-blue-500/100 py-1 px-2 hover:bg-blue-400 hover:text-white" %>
				</div>
				<% if logged_in? %>
						<% if user == current_user %>
							<%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
						<% end %>
						<% if current_user.admin? %>
							<%= link_to "Delete user", user_path(user), class: "btn btn-outlint-danger", method: :delete,
							data: {confirm: "Are you sure you want to delete the user account and all associated articles? "} %>
						<% end %>
					<% end %>
			</div>
			<div class="card-footer text-muted mb-5">
				<small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
			</div>
		</div>
	</div>
  <% end %>
</div>