<h1 class="text-center mt-10 mb-20 font-extrabold text-blue-600 text-3xl">Categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container m-auto">
  <% @categories.each do |category| %>
		<div class="flex justify-center">
			<div class="block rounded-lg mb-5 shadow-lg bg-slate-100 max-w-xl text-center w-1/2 border-t-4">
				<div class="text-lg font-bold py-3 px-6 border-b border-gray-300 bg-slate-200">
					<%= link_to category.name, category_path(category), class: "text-yellow-600" %>
				</div>
	<div class="py-3 px-6 border-t border-gray-300 text-gray-500">
			Created <%= time_ago_in_words(category.created_at) %> ago, 
			edited <%= time_ago_in_words(category.updated_at) %> ago
	</div>
</div>
</div>
<% end %>
</div>>

<div class="flickr_pagination mb-4">
  <%= will_paginate @categories, :container => false %>
</div>